
.book-table-section {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 20px;
}

.form-container {
    flex: 1;
    max-width: 500px;
}

.form-container h2 {
    font-family: 'Brush Script MT';
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    background-color: #ffa500;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.map-container {
    flex: 1;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
@media screen and (max-width:768px)
 {
    .book-table-section{
        flex-direction: column;
    }
    
}
