.testimonial-slider{
    text-align: center;
    padding: 20px;
}
.testimonial-slider h2{
    font-family: 'Brush Script MT';
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.testimonial-container{
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    align-items: center;

}
.testimonial{
    min-width: 300px;
    max-width: 500px;
    opacity: 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #fff;
    transition: opacity 0.5s ease-in-out;
}
.testimonial.active{
    opacity: 1;
}
.testimonial p{
    font-style: italic;
    margin-bottom: 15px;
    font-size: 1rem;
    background: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
.testimonial h3{
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.2rem;

}
.testimonial h5{
    color: gray;
    font-size: 1rem;
}
.testimonial-navigation{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.testimonial-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease-in-out;
}
.testimonial-image.active{
    border: 2px solid #ff6347;
}
.slider-control{
    margin-top: 20px;
}
.slider-control button{
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}
@media screen and (max-width: 600px){
    .testimonial-container{
        min-width: 250px;
        max-width: 90%;
        flex-direction: 2rem;
    }
    .testimonial-slider h2{
        font-size: 2rem;
    }
    .testimonial p{
        font-size: 0.9rem;
}
}

